kaggle.json
prompt.txt

konzept.*
!konzept.pdf

FIFA Men's World Ranking/
Football - FIFA World Cup, 1930 - 2026/
Football Betting Odds (football-data.co.uk)/
International Football Elo Ratings (1872-2025)/
International football results from 1872 to 2026/
Beat The Bookie Odds Series Football Dataset/
.claude/
International & Tournament Odds (Beat The Bookie 2005-2015)/
Tournament Odds (FootyStats)/
